.no-reports {
  text-align: center;
  .no-reports-1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.014em;
    color: #929292;
    margin-top: 50px;
  }
  .no-reports-2 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #929292;
  }
}
