.common-local-search {
  @extend .mr-3;
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;

  position: relative;

  .fas {
    top: 50%;
    left: 18px;
    color: $theme-placeholder-text;
    position: absolute;
    font-size: 16px;
    padding-right: 22px;
    border-right: 1px solid #eeeeee;
    @include translate(0, -50%);
    @media (max-width: 1366px) {
      padding-right: 10px;
    }
  }
  .local-search {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-center;
    width: 100%;
    height: 42px;
    font-size: 13px;
    font-weight: 600;
    max-width: 310px;
    line-height: 19px;
    padding-left: 40px;
    border: 1px solid $theme-placeholder-text;
    @include box-shadow(none);
    @include border-radius(4px);
  }
}
