.report-thead {
  background-color: #fffaea;
  .table-header-title {
    color: #878282;
    font-weight: 700;
    font-size: 12px;
    border-bottom: none;
    vertical-align: top;
    border-bottom-width: 0;
    text-transform: uppercase;
    white-space: pre;
    padding: 12px 24px;
  }
}
