.item-tile {
  &.empty-tile {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.014em;
    color: #929292;
    margin-top: 40px;
  }
}
